@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

blockquote {
           border: solid 3px black;
           background-color: lightblue;
  
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

article {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 80%;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}